#beginDiv{
	height: 10rem;
}
#beginBtn{
	margin-left: 40%;
}
#overDiv
{
	height: 10rem;
	display: none;
}
.container{
	display: none;
	width: 10rem;
	height: 12rem;
}
header{
	height: 2rem;
}
#seconds{
	
	margin-left: 40%;
}
#pauseBtn{
	float: right;
}
#div1{
	width: 10rem;
	height: 10rem;
	background-color: lightgrey;
}
.smallColor{
	width: 50%;
	height:50%;
	float: left;
	background-color: royalblue;
	border: 1px solid white;
	box-sizing: border-box;
}
