#beginDiv{
	height: 10rem;
	margin: 10px auto;
}
#beginBtn{
	margin-left: 35%;
}
#overDiv
{
	height: 10rem;
	display: none;
}
.container{
	display: none;
	width: 20rem;
	height: 22rem;
	padding: 0px;
	margin: 10px auto;
}
header{
	height: 2rem;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	padding-bottom: 1px;
}
#scores
{
	line-height: 2rem;
	color: orangered;
}
#seconds{
	line-height: 2rem;
	color: orangered;
}
button{
	border: 1px solid black;
	width: 30%;
	font-size: 1rem;
	background-color: orangered;
}
#div1{
	width: 20rem;
	height: 20rem;
	background-color: lightgrey;
}
#div1:hover{
	cursor: pointer;
}
.smallColor{
	float: left;
	border: 1px solid white;
	box-sizing: border-box;
}
#overDiv{
	color: orangered;
	text-align: center;
}
